{% extends 'basefront.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
            <div class="row g-5">
                <div class=" offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
                    <div class="form-wrapper-one">
                        <h4>Reset your password</h4>
                        {{ form_start(requestForm) }}
                            <div class="mb-5">
                                {{ form_row(requestForm.email) }}
                                        <div>
                                            <small>
                                                Enter your email address, and we will send you a
                                                link to reset your password.
                                            </small>
                                        </div>                            
                            </div>

                            <button class="btn btn-primary">Send password reset email</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

        
    
