<div class="create-collection-input logo-image">
    <div class="logo-c-image logo">
        <img id="rbtinput1" src="{{ asset('FrontOffice/assets/images/profile/profile-01.jpg')}}" alt="Profile-NFT">
        <label for="fatima" title="No File Choosen">
            <span class="text-center color-white"><i class="feather-edit"></i></span>
        </label>
    </div>
    <div class="button-area">
        <div class="brows-file-wrapper">
            
            {{ form_widget(form.photoURL, {'id': 'fatima', 'attr': {'class': 'custom-file-input'}}) }}
        

        </div>
    </div>
</div>
