{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Create Collection</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="photoURL" class="font-weight-bold">Logo image</label>
                        <div class="custom-file">
                            {{ form_widget(form.photoURL, {'id': 'photoURL', 'class': 'custom-file-input', 'onchange': 'previewImage(this)', 'aria-describedby': 'inputGroupFileAddon01'}) }}
                            <label class="custom-file-label" for="photoURL">Choose file</label>
                        </div>

{{ form_end(form) }}
