{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('dash_board_category/_form2.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dash_board_category_index') }}">back to list</a>

    {{ include('dash_board_category/_delete_form.html.twig') }}
{% endblock %}
