{% extends 'baseback.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
<h1 style="text-align: center; font-size: 2em; font-weight: bold;">Create new User</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
